@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    background-color: #0D0D0D;
    color: #f3f3f3;
    font-family: 'Kumbh Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #f3f3f3;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    margin: 30px;
}

#start img {
    width: 140px;
}

#start h1 {
    font-size: 2.5rem;
}

#start h1 span {
    color: #F28705;
}

#start h4 {
    font-size: 1.2rem;
}

#container-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px 100px;
}

.cards {
    background-color: #201f1f97;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #f2870596 solid 1px;
    width: 320px;
    padding: 20px 0px;
    min-width: 300px;
}

.cards:hover {
    border: #F28705 solid 1px;
    box-shadow: 20px solid #F28705;
    transform: scale(1.0);
    transition: 0.5s;
}

.cards img {
    margin-bottom: 10px;
}
.profile {
    width: 230px;
}

.cards p {
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 10px;
    border-top: #F28705 solid 1px;
}

.cards button {
    cursor: pointer;
    background-color: #F28705;
    color: #f3f3f3;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 2px 17px;
}

.cards button img {
    margin-top: 7px;
}

.icon-spacing{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 12px;
}

.icon-spacing img {
    width: 40px;
}